:root {
  --blue: #264cab;
  --blue-dark: #001233;
  --blue-dark-2: #001845;
  --blue-dark-3: #002855;
  --blue-dark-4: #1030a1;
  --light-blue-1: #023e7d;
  --light-blue-2: #0353a4;
  --light-blue-3: #0466c8;
  --purple-light: #3b45b3;
  --gray: #c5c7ce;
  --darked: #131313;
  --dark-gray: #19181c;
  --dark: #0c0a16;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
